*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4em;
  color: #fff;
}

body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ESTILOS DEL TABLERO DEL JUEGO */
.wordle-game {
  height: 700px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ESTILOS DE LAS CAJAS  */
.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  color: #fff;
}

.row {
  display: flex;
}

.empty {
  background-color: #a5a5a5;
}

.correct {
  background-color: #3cb53c;
}

.contain {
  background-color: #d69d34;
}

/* ESTILOS DEL INPUT  */
.input {
  width: 300px;
  font-size: 1.9em;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #0f0f0f;
  height: 50px;
  color: #fff;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 1.2em;
}
